.card-header {
    background-color: #3a4660;
    color: whitesmoke;
}

.hiddenSign {
    display: none !important;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}

.carousel-inner {
    padding-left: 10%;
    padding-right: 10%;
}

#footer {
    /* height: 10%; */
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: #3a4660;
    border-top: 8px solid;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    margin-bottom: 100px;
}

.col-md-5 {
    margin: 5px 5px 5px 5px;
}

#mapZipCode1 {
    margin: 10px 10px 10px 10px;
}

#mapZipCode2 {
    margin: 10px 10px 10px 10px;
}

#project_pop_chart_1,
#project_pop_chart_2 {
    position: left;
}

#weather_risk_chart1,
#weather_risk_chart2 {
    width: 100% !important;
}